{% extends "extagram/layout.html" %}

{% block content %}
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-12">
                <a href="{% url 'extagram:post_new' %}" class="btn btn-primary">새 포스트 쓰기</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                {% for post in post_list %}
                    <div class="mb-3">
                        {% include "extagram/_post_card.html" %}
                    </div>
                {% empty %}
                    보여질 포스팅이 없습니다.
                {% endfor %}
            </div>
            <div class="col-sm-4">
                {% include "extagram/timeline_sidebar.html" %}
            </div>
        </div
    </div>
{% endblock %}